body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.logo {
    padding: 10px;
    width: 250px;
}

.googleButton {
    display: 'inline-block',
    background: '#e8c413',
    color: '#fff',
    width: 190,
    paddingTop: 10,
    paddingBottom: 10,
    borderRadius: 2,
    border: '1px solid transparent',
    fontSize: 16,
    fontWeight: 'bold',
    fontFamily: 'sans-serif'
}

.container-fluid {
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
}

.custom-container-fluid {
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e9e9e9;
    height: 800px;
}

.splashScreen {
    background-image: url('../../img/billing-invoice.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    background-color: #CCC;
}

.text-danger {
    position: absolute;
    /*bottom: 36px;*/
    z-index: 9;
    font-size: 15px;
    color: red;
}

.txt-danger {
    position: absolute;
    bottom: 52px;
    z-index: 9;
    font-size: 15px;
    color: #a94442;
}

.login-tbox {
    position: relative;
    margin-bottom: 30px;
}

.splashScreen .jumbotron {
    background-color: transparent;
    color: white;
    display: table;
    min-height: 720px;
    height: 720px;
    width: 100%;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: black;
    padding: 15px 0px;
    text-align: center;
}

.left-buffer {
    margin-left: 10px;
}

.right-buffer {
    margin-right: 10px;
}

.menu {
    background-color: rgba(0, 0, 0, 0);
    background-image: inherit;
    border: none;
    margin: 10px;
}

.inverse-menu {
    margin: 0 15px;
}

.common-header .inverse-menu {
    margin: 0 15px;
    background-image: linear-gradient(to bottom, lightgray 0, #222 100%);
    margin-left: 55px;
    margin-right: 55px;
}

.productContainer {
    display: table;
    width: 100%;
    margin-top: 30px;
}

.products {
    margin-top: 35px;
    margin-bottom: 35px;
}

.products .content,
.splashScreen .content {
    display: table-cell;
    vertical-align: middle;
}

.products .productContainer h1,
.products .productContainer p,
.products .productContainer button {
    margin: 25px;
}

.splashScreen .jumbotron h1,
.splashScreen .jumbotron p {
    margin: 25px;
}

.react-animation-appear {
    opacity: 0.01;
}

.react-animation-appear.react-animation-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.react-addition-animation-enter {
    opacity: 0.5;
}

.react-addition-animation-enter.react-addition-animation-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.react-addition-animation-leave {
    opacity: 1;
}

.react-addition-animation-leave.react-addition-animation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.top-buffer {
    margin-top: 10px;
}

.bottom-buffer {
    margin-bottom: 10px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.content-margin {
    margin: 100px;
    position: relative;
}

.btn-xl {
    color: #fff !important;
    background-color: #e8c413;
    border-color: #e8c413 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    /*font-size: 18px;*/
    /*padding: 20px 40px;*/
}

.login-box {
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.home-footer {
    padding: 25px 0;
    text-align: center;
}

.contact {
    background-color: #222;
    background-image: url("../../img/map-image.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.contact .form-group input, .form-group textarea {
    padding: 30px;
}

.contact .section-heading {
    color: #fff;
}

.contact h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.contact .form-group textarea.form-control {
    height: 216px;
}

.text-yellow {
    color: #fed136;
}

a.btn-xl {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.login-label {
    color: #fff !important;
    margin: 10px 0;
}

.login-button {
    color: #fff !important;
    background-color: #fed136 !important;
    border-color: #fed136 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 40px;
}

.signup-button {
    color: #fff !important;
    background-color: #46b8da !important;
    border-color: #46b8da !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 40px;
}

.forgot-password {
    color: #fff !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 40px;
    margin-top: 15px;
    cursor: pointer;
    font-style: italic;
}

.forgot-password:hover {
    color: #46b8da !important;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.white-circle-color {
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 auto;
    border: 3px solid black;
    cursor: auto;
}

.signUp-box {
    color: #000 !important;
    background-color: #595959 !important;
    border-color: #000000 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 30px;
}

.green-circle-color {
    width: 30px;
    height: 30px;
    background: #449D44;
    margin: 0 auto;
    border: 3px solid black;
    cursor: pointer;
}

/* LEFT NAVIGATION CSS */
.navbar-twitch {
    position: fixed;
    top: 51px;
    left: 0px;
    width: 50px;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    z-index: 1030;
}

.navbar-twitch.open {
    width: 200px;
}

.navbar-twitch > .container {
    padding: 0px;
    width: 100%;
}

.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
    float: none;
    display: block;
    width: 100%;
    margin: 0px;
}

.navbar-twitch .navbar-brand {
    height: 50px;
}

.navbar-twitch > .container .navbar-brand {
    padding: 0px;
    margin: 0px;
}

.navbar-twitch > .container .navbar-brand > .small-nav {
    display: block;
}

.navbar-twitch > .container .navbar-brand > .small-nav > span.logo,
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
    font-weight: bold;
    padding: 15px 2px 15px 3px;
    font-size: 18pt;
}

.navbar-twitch.open > .container .navbar-brand {
    width: 100%;
    padding: 15px 15px 60px;
    text-align: center;
}

.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
    /*color: rgb(255, 255, 255);*/
}

.navbar-twitch .navbar-nav > li {
    float: none;
}

.navbar-twitch > .container .full-nav {
    display: none;
}

.navbar-twitch.open > .container .full-nav {
    display: block;
}

.navbar-twitch.open > .container .small-nav {
    display: none;
}

.navbar-twitch .navbar-collapse {
    padding: 0px;
}

.navbar-twitch .navbar-nav {
    float: none;
    margin: 0px;
}

.navbar-twitch .navbar-nav > li > a {
    padding: 0px;
}

.navbar-twitch .navbar-nav > li > a > span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 13px 15px 13px 16px;
}

.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
    max-width: auto;
    white-space: nowrap;
}

.navbar-twitch-toggle {
    position: fixed;
    top: 60px;
    left: 55px;
}

.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
    display: inline-block;
}

.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
    display: none;
}

.navbar-twitch.open ~ .navbar-twitch-toggle {
    left: 245px;
}

.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
    display: none;
}

.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
    display: inline-block;
}

.left-navigation .navbar {
    margin-left: 15px;
    background-color: #616D7E;
}

.left-navigation .navbar li.active {
    color: #fff;
    background-color: #4863A0;
}

.left-navigation .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    background-repeat: repeat-x;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
    background-image: none;
}

.left-navigation .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #4863A0;
}

/* LEFT NAVIGATION CSS */

/*TODO: temporary fix, margin given is negative*/
.common-header-logo {
    margin-left: 30px !important;
    margin-top: -40px;
}

.forgot-password-message {
    font-size: 16px;
}

.subscription-minus-icon {
    margin-top: 30px;
}

.subscription-question-icon {
    font-size: x-large;
    top: 23px;
}

.status-btn-width {
    width: 150px;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 250px auto;
    z-index: 999999;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.app-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.section-title {
    color: #212121;
    border-bottom: 1px solid #ccc;
    background-repeat: repeat-x;
    background-image: none;
}

.subscription-detail-box {
    box-shadow: none;
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
}

.margin-top-65 {
    margin-top: 65px;
}

.heading-month {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    /* width: 50%;*/
    padding-left: 40px;
    padding-top: 20px;
}

.heading-billing {
    color: gray;
    text-align: left;
    /* font-size: 18px;*/
    font-weight: bold;
}

.subscription-products-table {
    background-color: #FFFFFF;
    margin-bottom: 0px;
}

.subscription-products-table-thead {
    background-color: #595959;
    color: #fff !important;
}

.login-error-msg {
    font-size: 15px;
    height: 38px;
    padding: 8px;
}

.back-button {
    color: #fff !important;
    background-color: #fed136 !important;
    border-color: #fed136 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 40px;
}

.next-button {
    color: #fff !important;
    background-color: #46b8da !important;
    border-color: #46b8da !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 40px;
}

.cursor-default {
    cursor: default;
}

.full-width {
    width: 100%;
}

.clear-both {
    clear: both;
}

.normal-font {
    font-size: 14px !important;
}

.danger-text {
    position: absolute;;
    top: 36px;
    z-index: 9;
    font-size: 15px;
    color: #a94442;
}

.blue-circle-color {
    width: 30px;
    height: 30px;
    background: #337ab7;
    margin: 0 auto;
    border: 3px solid black;
}

.duplicate-product {
    color: #a94442;
    margin-bottom: 10px;
}

.subscription-product-inputs .form-group {
    margin-bottom: 5px !important;
    width: 50%;
    vertical-align: middle;
    display: inline;
}

.text-bold {
    font-weight: bold;
}

.subscription-status-header {
    margin-top: 7px;
}

.no-record-found-block {
    margin-top: 40px;
    height: 80px;
    text-align: center;
    opacity: 0.3;
    font-size: 30px;
}

tr .no-record-found-block {
    margin-top: 40px;
    height: 80px;
    text-align: center;
    opacity: 0.3;
    font-size: 30px;
}

.successfully-msg {
    background-image: url("../../img/true-sign.png");
    background-repeat: no-repeat;
    padding: 0 0 4px 41px;
    width: 325px;
    margin: 0 auto;
    font-size: 16px;
}

.login-button-link {
    margin-top: 15px;
}

.help-block {
    color: #a94442;
}

.success-block {
    color: #006600;
}

.organization-right-panel {
    padding: 30px;
    border: 1px solid grey;
}

.main-container {
    margin-left: 65px;
    margin-top: 70px;
}

.content-footer {
    margin-bottom: 20px;
}

.orgs-content {
    background-color: #ffffff;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
    height: 800px;
}

.name {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #434649;
    padding-top: 5px;
    max-height: 24px;
}

.headline {
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
    max-height: 14px;
    padding-top: 5px;
}

.status {
    padding-top: 10px;
    font-size: 12px;
}

.details {
    padding-left: 20px;
    padding-bottom: 20px;
}

.admin-common-header-logo {
    margin-left: 0 !important;
}

.admin-right-panel {
    margin-top: 16px;
}

.organization-list button.list-group-item {
    background-color: #595959;
    color: white;
}

.organization-list .list-group-item {
    border: 1px solid black;
}

.organization-list .list-group {
    height: 400px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-image: linear-gradient(to bottom, black 0, black 100%);
}

.admin-add-subscription-content {
    margin-top: 50px;
}

.copy-to-clipboard-size {
    font-size: 20px;
}

.url-width {
    width: 70%;
}

.subscription-username-width {
    width: 15%;
}

.text-wrap {
    overflow-wrap: break-word;
}

.page-footer {
    margin-bottom: 30px;
}

.subscription-table {
    margin-top: 15px;
}

.subscription-date-width {
    width: 12%;
}

.subscription-name-width {
    width: 25%;
}

.subscription-product-width {
    width: 25%;
}

.subscription-version-width {
    width: 10%;
}

.subscription-status-width {
    width: 18%;
}

.subscription-action-width {
    width: 10%;
}

.txt-hidden {
    display: none;
}

.txt-show {
    display: block;
}

.wrap {
    margin: 0 auto;
    width: 1000px;
}

.logo-404 {
    margin-top: 50px;
}

.logo-404 h1 {
    font-family: 'Courgette', cursive;
    font-size: 200px;
    color: #8F8E8C;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 1px 1px 6px #fff;
}

.logo-404 p {
    color: rgb(228, 146, 162);
    font-size: 20px;
    font-family: 'Courgette', cursive;
    margin-top: 1px;
    text-align: center;
}

.logo-404 p span {
    color: lightgreen;
}

.sub a {
    color: white;
    background: #8F8E8C;
    text-decoration: none;
    padding: 7px 120px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    -webkit-border-radius: 3em;
    -moz-border-radius: .1em;
    -border-radius: .1em;
}

.text-ellipsis {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: inherit *inherit *inherit; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: inherit;
    line-height: inherit;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subscription-table-header {
    background-color: #cfd8dc;
}

tr.subscription-product-tr:hover {
    background-color: #fff !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.box {
    background: #f7f6f6;
    padding: 15px;
    border: 1px solid #dedede;
    /*//border-top: none;*/
    -moz-border-radius-bottomright: 3px;
    /* -webkit-border-bottom-right-radius: 3px; */
    /* border-bottom-right-radius: 3px; */
    -moz-border-radius-bottomleft: 3px;
    /* -webkit-border-bottom-left-radius: 3px; */
    /* border-bottom-left-radius: 3px; */
    /* overflow: hidden; */
    margin-bottom: 19px;
}

/* Mobile (e.g. Apple iPhone) Portrait*/
@media (min-width: 300px) and (max-width: 380px) {
    .btn-xl {
        padding: 15px 8px;
    }

    .top-buffer {
        margin-top: 40px;
    }

    .signUp-box {
        padding: 10px 10px;
    }

    .login-box {
        padding: 0px 0px;
    }

    .successfully-msg {
        width: 166px;
    }

    .bottom-buffer-add-subscription-button {
        margin-bottom: 10px;
    }

    .mt-40 {
        margin-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    h5 {
        color: #fff !important;
        font-size: 11px;
    }

}

/* Mobile (e.g. Apple iPhone) Landscape*/
@media (min-width: 440px) and (max-width: 490px) {
    .btn-xl {
        padding: 15px 8px;
    }

    .top-buffer {
        margin-top: 40px;
    }

    .signUp-box {
        padding: 10px 10px;
    }

    .full-width {
        padding: 10px 9px;
    }

    .bottom-buffer-add-subscription-button {
        margin-bottom: 10px;
    }

    .mt-40 {
        margin-top: 40px;
    }

    h5 {
        font-size: 11px;
        color: #fff !important;
    }

}

/* Mobile (e.g. Apple iPhone5) Landscape*/
@media (min-width: 500px) and (max-width: 570px) {
    .btn-xl {
        padding: 15px 8px;
    }

    .top-buffer {
        margin-top: 40px;
    }

    .bottom-buffer-add-subscription-button {
        margin-bottom: 10px;
    }

    .mt-40 {
        margin-top: 40px;
    }

    h5 {
        font-size: 12px;
        color: #fff !important;
    }

}

/* Small tablet, apple, ipad potrait*/
@media (min-width: 600px) and (max-width: 770px) {
    .btn-xl {
        padding: 15px 8px;
    }

    .top-buffer {
        margin-top: 40px;
    }

    .bottom-buffer-add-subscription-button {
        margin-bottom: 10px;
    }

    .mt-40 {
        margin-top: 40px;
    }

    h5 {
        font-size: 12px;
        color: #fff !important;
    }

}

/* Android, Small tablet Landscape*/
@media (min-width: 600px) and (max-width: 800px) {

    h5 {
        font-size: 12px !important;
        color: #fff !important;
    }

}

/* Apple ipad, Small tablet Landscape*/
@media (min-width: 760px) and (max-width: 1050px) {
    .btn-xl {
        padding: 15px 8px;
    }

    h5 {
        font-size: 11px;
        color: #fff !important;
    }
}

.inverse-menu .navbar-toggle {
    padding: 8px 5px;
}

.mt-50 {
    margin-top: 50px
}

.inverse-menu-color {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #dddddd;
}

.subscription-note {
    font-size: 14px;
    color: #337ab7;
    padding-bottom: 15px;
}